<div id="app" class="b-app-structure">
    <div class="b-app-structure__main">
        <section class="b-login-holder">
            <div class="w-app-login-logo">
                <img src="~/Content/Logo.png" alt="Logo Opac de l'Oise" />
            </div>
            <div class="content">
                <div class="page-login">
                    <div class="standrard-form">
                        <div class="content">
                            <div class="login-form">
                                <div class="w-page-header no-subtitle hideable">
                                    <h1 class="w-page-header__title">Portail diagnostics</h1>
                                </div>
                                <div class="w-page-header no-subtitle hideable">
                                    <div class="w-page-header__title">
                                        <button type="submit" class="btn btn-primary">
                                        <span class="w-button__label">Se connecter avec Microsoft</span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="b-app-structure__secondary" style="background: rgb(60, 85, 116);"></div>
</div>